JWT_SECRET="sua-chave-secreta"
JWT_EXPIRATION_TIME=3600 //1 hora

DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_NAME=

FRONTEND_URL=http://localhost:3000

RESEND_API_KEY=SUA_CHAVE_DE_API_DO_RESEND
MAIL_FROM=SEU_EMAIL_DE_ORIGEM