# Application
PORT=3001

# JWT
JWT_SECRET=sua-chave-secreta
JWT_EXPIRATION_TIME=86400 # 24 horas em segundos

# Database (PostgreSQL)
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/repoif

# Frontend
FRONTEND_URL=http://localhost:5173

# Mail (Brevo)
BREVO_API_KEY=xkeysib-xxxxxxxxxxxxxxxxxxxx
MAIL_FROM=no-reply@example.com

# Cloudflare R2
R2_ACCOUNT_ID=xxxxxxxxxxxxxxxxxxxx
R2_ACCESS_KEY_ID=xxxxxxxxxxxxxxxxxxxx
R2_SECRET_ACCESS_KEY=xxxxxxxxxxxxxxxxxxxx
R2_BUCKET=my-bucket
